
.dashboard-container { padding: 5rem; }
.dashboard-header { }

.padaria-bar {
  width: 100%;
  background: var(--surface-card);
  border: 1px solid var(--surface-border);
  margin-left: -1rem;
  margin-right: -10rem;
  border-radius: 0;
  padding: 2rem;
  margin-bottom: 1rem;
  box-shadow: 0 1px 2px rgba(0,0,0,0.04);
  /* ocupar quase toda a altura da viewport */
  min-height: calc(100vh - 140px);
}

.padaria-bar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.padaria-bar-header .title {
  font-size: 1.4rem;
  font-weight: 700;
  
}

.padaria-bar-controls {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex-direction: column;
  
  
}

:host ::ng-deep .padaria-bar .p-selectbutton .p-button {
  font-size: 1rem;
  padding: 0.7rem 1.2rem;
  
}

.padaria-bar-content {
  margin-top: 1rem;
  
  padding-top: 2rem;   
  padding-bottom: 2rem; 
  
  padding-left: 1rem;  
  padding-right: 1rem;  
  
}