.p-fluid { padding: 1rem; }

:host ::ng-deep .p-dialog .p-dialog-content {
  padding-top: 0.5rem;
}

.field {
  margin-bottom: 1rem;
}

:host ::ng-deep .p-table td, :host ::ng-deep .p-table th {
  vertical-align: middle;
}